.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-bottom:50px;
  border-style: solid black 20px;
}

.container img{
  height: 20vmin;
}

.top{
  background-color:#56bad6;
  flex:12;
}

.bottom{
  color: black;
  margin:30px;
}

.bottom p{
  margin:0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
